@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--common-font);
}

:root {
  --padding: calc(4px + 1vw);
  --margin: calc(8px + 1vw);
  --remove-btn-size: 30px;

  --darkest-color: #053B50;
  --main-color: #176B87;
  --lighter-color: #64CCC5;
  --lightest-color: #EEEEEE;

  --header-font:  "Montserrat", sans-serif;
  --common-font: "Roboto", sans-serif;
}

.main-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: start;
  height: 95vh;
}

/* Form styling (end) */
.info-form {
  height: 100%;
  overflow-y: scroll;
  padding: var(--padding);
}

.form-fields {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  gap: var(--margin);
}

.info-grp {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  border: 1px solid black;
  border-radius: 5px;
  gap: calc(var(--margin) * 1.5);
  width: 100%;
  overflow: hidden;
}

.info-grp h3 {
  font-size: 1.5rem;
  font-family: var(--header-font);
  font-weight: bold;
}

.info-grp label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.info-grp input, .info-grp textarea {
  padding: calc(var(--padding) * 0.5);
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: var(--lightest-color);
  transition: 
    border 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.info-grp input:focus-visible, .info-grp textarea:focus-visible {
  outline: none;
  border-bottom: 3px solid var(--lighter-color);
  border-radius: 5px 5px 0 0;
}

.input-cont {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: calc(var(--padding) * 0.5);
}

.remove-btn {
  width: var(--remove-btn-size);
  height: var(--remove-btn-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: rgba(255, 0, 0, 0.203);
}

.remove-btn:hover {
  cursor: pointer;
}

.remove-btn svg path {
  fill: white !important;
  
}

.add-info-btn {
  font-size: 1rem;
  padding: calc(var(--padding) * 0.3);
  width: 150px;
  min-width: max-content;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add-info-btn span {
 display: flex;
 justify-content: center;
 align-items: center;
}

.add-info-btn .add-icon {
  width: 1.5rem;
  height: 1.5rem
}

/* Contact input field (start) */
.contact-cont {
  border: 1px solid black;
  border-radius: 5px;
  padding: calc(var(--padding) * 0.5);
  display: grid;
  grid-template-columns: 1fr max-content;
}

.contact-field {
  grid-column: 1 / 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 0.5);
  margin-bottom: var(--margin);
}

.contact-cont .remove-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}


/* Contact input field (end) */

/* Education input field (start) */
.educ-field {
  border: 1px solid black;
  border-radius: 5px;
  padding: calc(var(--padding) * 0.5);
  display: grid;
  grid-template-columns: 1fr max-content;
}

.educ-field div {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: calc(var(--margin)* 0.5);
  margin-bottom: var(--margin);
}

.educ-field div * {
  width: 100%;
}

.educ-field .remove-btn {
  grid-column: 2/3;
  grid-row: 1/2;
}



/* Education input field (end) */

.skill-header {
  display: grid;
  grid-template-columns: 1fr 1fr var(--remove-btn-size);
}

.skill-cont {
  display: grid;
  grid-template-columns: 1fr 1fr var(--remove-btn-size);
}

.clicked {
  background-color: red;
}

.rate-btns-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.rate-btn {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding) * 0.5);
}

/* Form styling (end) */

/* Template Styling (start) */

:root {
  --template-col-1: 300px;
  --template-col-2: 650px;
}
.cv-template {
  justify-self: center;
  border: 1px solid black;
  height: 100%;
  overflow-y: hidden  ;
  padding: var(--padding);
  margin: var(--margin);
  display: grid;
  grid-template-columns: var(--template-col-1) 1fr;
  /* width: 900px; */
  grid-template-areas: 
    "intro intro"
    "column-1 column-2";
}

.intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: var(--template-col-1) 1fr;
}

.column-1 {
  grid-area: column-1;
}

.column-2 {
  grid-area: column-2;
}

.picture-sec {
  border: 1px solid black;
  padding: var(--padding);
  display: flex;
  justify-content: center;
}

.picture-blank {
  width: 100px !important;
  height: auto !important;
  border: 1px solid black;
  border-radius: 50%;
  background-color: gray;
}

.picture-blank path {
  fill: white !important;
}

.header-sec {
  border: 1px solid black;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--margin);
}

.address-sec {
  border: 1px solid black;
  padding: var(--padding);
}

.contact-sec {
  border: 1px solid black;
  padding: var(--padding);
}


.education-sec {
  border: 1px solid black;
  padding: var(--padding);
}


/* Expertise template (start) */
.expertise-sec {
  grid-area: expertise;
  border: 1px solid black;
  padding: var(--padding);
}

.expertise-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.expertise-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}

.expertise-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rating-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: max-content;
}

.rating {
  border: 1px solid black;
  width: 15px;
  height: 15px;
}

.rating.rated {
  background-color: blue;

}

.rating.unrated {
  background-color: white;
}


/* Expertise template (end) */

/* Experience template (start) */
.experience-sec {
  grid-area: experience;
  border: 1px solid black;
  padding: var(--padding);

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
}

.experience-info {
  border: 1px solid black;
  padding: calc(var(--padding) * 0.5);
}

/* Experience template (end) */

.references-sec {
  grid-area: references;
  border: 1px solid black;
  padding: var(--padding);
}

.references-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.references-info div {
  border: 1px solid black;
  padding: calc(var(--padding) * 0.5);
}


/* Template Styling (end) */