@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--common-font);
}

:root {
  --padding: calc(4px + 1vw);
  --margin: calc(8px + 1vw);
  --remove-btn-size: 30px;

  --darkest-blue: #053B50;
  --dark-blue: #176B87;
  --lighter-blue: #64CCC5;
  --off-white: #EEEEEE;

  --purple: #7900FF;
  --light-blue: #548CFF;
  --light-green: #93FFD8;
  --lightest-green: #CFFFDC;
  --red: #EB455F;

  --header-font:  "Montserrat", sans-serif;
  --common-font: "Roboto", sans-serif;
}

.main-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: start;
  height: 95vh;
}

/* Form styling (end) */
.info-form {
  height: 100%;
  overflow-y: scroll;
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
  background-color: var(--dark-blue);
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.info-grp {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  border: 3px solid var(--lighter-blue);
  border-radius: 16px;
  gap: calc(var(--margin) * 1.5);
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.info-grp h3 {
  font-size: 1.5rem;
  font-family: var(--header-font);
  font-weight: bold;
  color: var(--darkest-blue);
}

.info-grp label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.info-grp input, .info-grp textarea {
  width: 100%;
  padding: calc(var(--padding) * 0.5);
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: var(--off-white);
  transition: 
    border 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.info-grp input:hover, .info-grp textarea:hover {
  outline: 2px solid var(--purple);
  outline-offset: 2px;
}

.info-grp input:focus-visible, .info-grp textarea:focus-visible {
  outline: none;
  border-bottom: 3px solid var(--light-blue);
  border-radius: 5px 5px 0 0;
}

.input-fields {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr max-content;
  gap: calc(var(--padding) * 0.5);
  padding: calc(var(--padding) * 0.5);
  border: 1px solid var(--light-blue);
  border-radius: 10px;
}

.basic-info .input-fields {
  border: none;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: calc(var(--margin) * 0.5);
  margin-bottom: var(--margin);
  width: 100%;
  grid-column: 1 / 3;
}

.input-fields .remove-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.remove-btn {
  width: var(--remove-btn-size);
  height: var(--remove-btn-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--red);
  transition: filter 0.2s ease-in-out;
}

.remove-btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.remove-btn:disabled {
  cursor: default;
  filter: opacity(0.3);
}

.remove-btn svg path {
  fill: white !important;
}

.add-info-btn {
  font-size: 1rem;
  font-family: var(--header-font);
  padding: calc(var(--padding) * 0.3);
  width: 160px;
  min-width: max-content;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--dark-blue);
  border: 3px solid var(--lighter-blue);
  border-radius: 10px;
  color: var(--off-white);
  box-shadow: 0 3px 3px 1px rgba(5, 59, 80, 0.5);
  transition: transform 0.2s ease-out;
}

button svg {
  pointer-events: none;
}

.add-info-btn:active {
  transform: scale(0.9);
}

.add-info-btn .add-icon {
  width: 1.5rem;
  height: 1.5rem
}

/* Expertise input field (start) */
.expertise-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
}

.skill-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-header p {
  font-family: var(--header-font);
  font-size: 1.3rem;
}

.skills-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap:var(--margin);
}

.skill-cont {
  display: grid;
  grid-template-columns: 1fr repeat(2, max-content);
  gap: 10px;
  align-items: center;
}

.rate-btns-cont {
  display: flex;
  justify-content: center;
  padding: var(--padding);
  align-items: center;
  gap: calc(var(--margin) * 0.3);
}

.rate-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding) * 0.5);
  border: 1px solid var(--darkest-blue);
  border-radius: 5px;
  font-size: 1rem;
  transition: transform 0.1s ease-in-out;
}

.rate-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 0 3px 1px var(--purple);
}

.rate-btn:active {
  transform: scale(0.9);
}

.clicked {
  background-color: var(--lighter-blue);
}

.unclicked {
  background-color: var(--off-white);
}

.expertise-info .add-info-btn {
  justify-self: end;
}

/* Reference input field (start) */
.reference-info h4 {
  font-size: 1.3rem;
  margin-bottom: var(--margin);
}

/* Reference input field (end) */

/* Submit button (start) */
.form-btns-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: var(--margin);
}

.form-btns-cont button {
  font-size: 1.3rem;
  font-weight: bold;
  width: 150px;
  font-family: var(--header-font);
  padding: calc(var(--padding) * 0.5);
  border: 3px solid var(--light-green);
  background-color: var(--light-blue);
  border-radius: 10px;
  color: var(--off-white);
  text-shadow: 0 0 5px rgb(5, 59, 80);
  box-shadow: 0 5px 5px 1px rgba(5, 59, 80, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  transition: 
    transform 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}

.form-btns-cont button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.form-btns-cont button:active {
  transform: scale(0.9);
}

.form-btns-cont .clear-btn {
  background-color: var(--off-white);
  text-shadow: none;
  color: var(--darkest-blue);
}

.submit-btn svg {
  filter: drop-shadow(0 0 5px rgb(5, 59, 80));
}

/* Submit button (end) */

/* Confirm clear dialog (start) */
@keyframes open-modal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes open-modal-backdrop {
  from {
    background-color: transparent;
    filter: brightness(1);
  }
  to {
    background-color: rgb(5, 59, 80, 0.9);
    filter: brightness(0.5);
  }
}

.confirm-dialog {
  margin: auto;
  border: 3px solid var(--purple);
  box-shadow: 0 0 10px 1px var(--light-blue);
  border-radius: 10px;
  overflow: hidden;
  padding: calc(var(--padding) * 0.5);
  animation: open-modal 0.3s ease-in-out;
  background-color: var(--lightest-green);
}

.confirm-dialog::backdrop {
  animation: open-modal-backdrop 0.3s ease-in-out;
  background-color: rgb(5, 59, 80, 0.9);
  filter: brightness(0.5);
}

.dialog-cont {
  border: 1px solid var(--purple);
  padding: var(--padding);
  border-radius: 10px;
}

.dialog-cont p {
  font-size: 1.3rem;
  text-align: center;
  max-width: 500px;
  margin-bottom: var(--margin);
}

.dialog-cont .choice-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--margin) * 2);
  margin-top: calc(var(--margin) * 2);
}

.choice-btns button {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: var(--header-font);
  padding: calc(var(--padding) * 0.5);
  width: 80px;
  min-width: max-content;
  border-radius: 10px;
  border: 3px solid var(--darkest-blue);
  box-shadow: 0 5px 5px 1px rgba(5, 59, 80, 0.3);
  color: var(--off-white);
  text-shadow: 0 0 5px var(--darkest-blue);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.choice-btns button.yes-btn {
  background-color: #2EB872;
}

.choice-btns button.no-btn {
  background-color: #D65F5F;
}

.choice-btns button svg {
  filter: drop-shadow(0 0 5px var(--darkest-blue))
}

.choice-btns button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}


/* Confirm clear dialog (end) */

/* Form styling (end) */



/* Template Styling (start) */

:root {
  --template-col-1: 300px;
  --template-col-2: 650px;
}
.cv-template {
  justify-self: center;
  border: 1px solid black;
  height: 100%;
  overflow-y: hidden  ;
  padding: var(--padding);
  margin: var(--margin);
  display: grid;
  grid-template-columns: var(--template-col-1) 1fr;
  grid-template-areas: 
    "intro intro"
    "column-1 column-2";
}

.intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: var(--template-col-1) 1fr;
}

.column-1 {
  grid-area: column-1;
}

.column-2 {
  grid-area: column-2;
}

.picture-sec {
  border: 1px solid black;
  padding: var(--padding);
  display: flex;
  justify-content: center;
}

.picture-blank {
  width: 100px !important;
  height: 100px !important;
  border: 1px solid black;
  border-radius: 50%;
  background-color: gray;
}

.picture-blank path {
  fill: white !important;
}

.header-sec {
  border: 1px solid black;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--margin);
}

.address-sec {
  border: 1px solid black;
  padding: var(--padding);
}

.contact-sec {
  border: 1px solid black;
  padding: var(--padding);
}


.education-sec {
  border: 1px solid black;
  padding: var(--padding);
}


/* Expertise template (start) */
.expertise-sec {
  grid-area: expertise;
  border: 1px solid black;
  padding: var(--padding);
}

.expertise-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}

.expertise-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rating-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: max-content;
}

.rating {
  border: 1px solid black;
  width: 15px;
  height: 15px;
}

.rating.rated {
  background-color: blue;

}

.rating.unrated {
  background-color: white;
}


/* Expertise template (end) */

/* Experience template (start) */
.experience-sec {
  grid-area: experience;
  border: 1px solid black;
  padding: var(--padding);

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
}

/* Experience template (end) */

.references-sec {
  grid-area: references;
  border: 1px solid black;
  padding: var(--padding);
}

.references-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.references-info div {
  border: 1px solid black;
  padding: calc(var(--padding) * 0.5);
}


/* Template Styling (end) */