@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--common-font);
  scroll-behavior: smooth;
  
}

:root {
  --padding: 16px;
  --margin: 24px;
  --remove-btn-size: 30px;

  --darkest-blue: #053B50;
  --dark-blue: #176B87;
  --lighter-blue: #64CCC5;
  --off-white: #EEEEEE;

  --purple: #7900FF;
  --light-blue: #548CFF;
  --light-green: #93FFD8;
  --lightest-green: #CFFFDC;
  --red: #EB455F;
  --dark-orange: #D04848;

  --template-blue: #153448;
  --template-gray: #3C5B6F;
  --template-brown: #948979;
  --template-cream: #DFD0B8;

  --header-font:  "Montserrat", sans-serif;
  --common-font: "Roboto", sans-serif;

  --template-col-1: 300px;
  --template-col-2: 450px;
  
}

div#root {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.header-content {
  width: 100%;
  padding: calc(var(--padding) * 0.5) var(--padding);
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;

  position: fixed;
  z-index: 3;
}

.banner {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.page-logo {
  width: 30px !important;
  height: 30px !important;
}

.page-logo path {
  fill: var(--off-white) !important;
}

.page-title {
  font-size: 1.3rem;
  font-family: var(--header-font);
  font-weight: bold;
  text-shadow: 0 0 5px var(--darkest-blue);
  color: var(--off-white);
}

.menu-btns {
  display: flex;
  width: max-content;
  margin-right: var(--margin);
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.main-content { 
  position: relative;
  display: grid;
  grid-template-columns: 650px 1fr;
  justify-content: start;
  background-color: var(--dark-blue);
  padding-top: 60px;
  height: 100vh;
}

/* Form styling (end) */
.form-nav {
  grid-area: nav;
  width: 110px;
  display: flex;
  justify-content: center;
}

.form-nav ul {
  width: max-content;
  position: fixed;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.form-nav li {
  list-style: none;

  background-color: var(--darkest-blue);
  border: 2px solid var(--light-green);
  border-radius: 10px;
  min-width: max-content;
  width: max-content;
  height: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px 1px rgba(5, 59, 80, 0.5);

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-nav a {
  font-family: var(--header-font);
  font-size: 0.6rem;
  color: var(--off-white);
  text-decoration: none;
  width: 70px;
  padding: calc(var(--padding) * 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: white;

  transition: color 0.2s ease-in-out;
}

.form-nav a svg {
  width: 30px;
}

.form-nav a:hover {
  color: var(--light-green);
}

.form-nav li:hover {
  transform: translateX(-5px);
  box-shadow: 5px 3px 3px 1px rgba(5, 59, 80, 0.5);
}

.info-form {
  height: 100%;
  padding: 0 var(--padding) var(--padding) 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content;
  row-gap: var(--margin);
  column-gap: calc(var(--margin) * 0.5);
  background-color: var(--dark-blue);
  transition: padding 0.3s ease-in-out;
  overflow-y: scroll;

  grid-template-areas: 
    'nav form'
    '. btns';

}

.form-fields {
  grid-area: form;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.info-grp {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  border: 3px solid var(--lighter-blue);
  border-radius: 16px;
  gap: calc(var(--margin) * 1.5);
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.info-grp h3 {
  font-size: 1.5rem;
  font-family: var(--header-font);
  font-weight: bold;
  color: var(--darkest-blue);
}

.info-grp label {
  font-size: 1rem;
  width: 100%;
  height: 25px;
  min-height: max-content;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.info-grp label .warn-icon {
  width: 20px;
  height: 20px;
}

.warn-icon path{
  fill: red !important;
}

.info-grp input, .info-grp textarea {
  width: 100%;
  padding: calc(var(--padding) * 0.5);
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid transparent;
  border-bottom: 3px solid transparent;
  background-color: var(--off-white);
  transition: 
    border 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.info-grp textarea {
  resize: vertical;
}

.input-field.profile-field {
  padding: calc(var(--padding) * 0.5) 0;

  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  column-gap: calc(var(--margin) * 0.5);
}

.mod-label {
  font-size: 1rem;
  width: 100%;
  height: 25px;
  min-height: max-content;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;

  grid-column: 1 / 3;
}

.mod-label .warn-icon {
  width: 20px;
  height: 20px;
  justify-self: end;
}

.info-grp label.profile-label {
  font-size: 1rem;
  
  background-color: var(--dark-blue);
  border: 3px solid var(--lighter-blue);
  border-radius: 10px;
  color: var(--off-white);
  box-shadow: 0 3px 3px 1px rgba(5, 59, 80, 0.5);

  padding: calc(var(--padding) * 0.5) var(--padding);
  height: max-content;
  width: max-content;

  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.info-grp label.profile-label:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.info-grp label.profile-label:active {
  transform: scale(0.9);
}

.input-field.profile-field .file-name {
  padding: calc(var(--padding)* 0.5);
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid transparent;
  border-bottom: 3px solid transparent;
  background-color: var(--off-white);

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.input-field.profile-field .file-name.invalid {
  background-color: rgba(208, 72, 72, 0.3);
  border: 1px solid var(--red);
  border-bottom: 3px solid var(--red);
}

.info-grp input[type='file'] {
  /* visibility: hidden; */
  width: 0;
  height: 0;
  padding: 0;
}

.info-grp input.invalid:hover, .info-grp textarea.invalid:hover {
  outline: 2px solid var(--red);
  outline-offset: 2px;
}

.info-grp input:hover, .info-grp textarea:hover {
  outline: 2px solid var(--purple);
  outline-offset: 2px;
}

.info-grp input:focus-visible, .info-grp textarea:focus-visible {
  outline: none;
  border-bottom: 3px solid var(--light-blue);
  border-radius: 5px 5px 0 0;
}

.info-grp input[aria-invalid = 'true'], .info-grp textarea[aria-invalid = 'true'] {
  background-color: rgba(208, 72, 72, 0.3);
  border: 1px solid var(--red);
  border-bottom: 3px solid var(--red);
}

.info-grp input[aria-invalid = 'true']:focus, .info-grp textarea[aria-invalid = 'true']:focus {
  background-color: var(--off-white);
  border: 1px solid transparent;
  border-bottom: 3px solid var(--light-blue);
}

.input-fields {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr max-content;
  padding: calc(var(--padding) * 0.5);
  border: 1px solid var(--light-blue);
  border-radius: 10px;
}

.basic-info .input-fields {
  border: none;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  margin-bottom: calc(var(--margin) * 1.5);
  width: 100%;
  grid-column: 1 / 3;
}

.input-fields .remove-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.remove-btn {
  width: var(--remove-btn-size);
  height: var(--remove-btn-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--red);
  transition: filter 0.2s ease-in-out;
}

.remove-btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.remove-btn:disabled {
  cursor: default;
  filter: opacity(0);
}

.remove-btn svg path {
  fill: white !important;
}

.add-info-btn {
  font-size: 1rem;
  font-family: var(--header-font);
  padding: calc(var(--padding) * 0.3);
  width: 160px;
  min-width: max-content;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--dark-blue);
  border: 3px solid var(--lighter-blue);
  border-radius: 10px;
  color: var(--off-white);
  box-shadow: 0 3px 3px 1px rgba(5, 59, 80, 0.5);
  transition: transform 0.2s ease-out;
}

button svg {
  pointer-events: none;
}

.add-info-btn:active {
  transform: scale(0.9);
}

.add-info-btn .add-icon {
  width: 1.5rem;
  height: 1.5rem
}

/* Expertise input field (start) */
.expertise-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
}

.skill-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-header p {
  font-family: var(--header-font);
  font-size: 1.3rem;
}

.skills-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap:calc(var(--margin));
}

.skill-cont {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: 25px max-content;
  width: 100%;
  column-gap: 10px;
  row-gap: 5px;
  align-items: center;
  justify-items: start;
  grid-template-areas: 
    'warn-icon-1 warn-icon-2 .'
    'input rating remove-btn';
}

.skill-cont input {
  grid-area: input;
}

.skill-cont .remove-btn {
  grid-area: remove-btn;
}

.skill-cont .warn-icon {
  width: 20px;
  height: 20px;
  justify-self: end;
  align-self: center;
}

.skill-cont .warn-icon.warn-skill {
  grid-area: warn-icon-1;
}

.skill-cont .warn-icon.warn-rating {
  grid-area: warn-icon-2;
}

.rate-btns-cont {
  grid-area: rating;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--margin) * 0.3);
}

.rate-btns-cont[aria-label='Skill unrated'] button {
  background-color: rgba(208, 72, 72, 0.3);
}

.rate-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding) * 0.5);
  border: 1px solid var(--darkest-blue);
  border-radius: 5px;
  font-size: 1rem;
  transition: transform 0.1s ease-in-out;
}

.rate-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 0 3px 1px var(--purple);
}

.rate-btn:active {
  transform: scale(0.9);
}

.clicked {
  background-color: var(--lighter-blue);
}

.unclicked {
  background-color: var(--off-white);
}

.expertise-info .add-info-btn {
  justify-self: end;
}

/* Reference input field (start) */
.reference-info h4 {
  font-size: 1.3rem;
  margin-bottom: var(--margin);
}

/* Reference input field (end) */

/* Submit button (start) */
.form-btns-cont {
  grid-area: btns;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: var(--margin);
}

.form-btns-cont button {
  font-size: 1.3rem;
  font-weight: bold;
  width: 150px;
  font-family: var(--header-font);
  padding: calc(var(--padding) * 0.5);
  border: 3px solid var(--light-green);
  background-color: var(--light-blue);
  border-radius: 10px;
  color: var(--off-white);
  text-shadow: 0 0 5px rgb(5, 59, 80);
  box-shadow: 0 5px 5px 1px rgba(5, 59, 80, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  transition: 
    transform 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}

.form-btns-cont button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.form-btns-cont button:active {
  transform: scale(0.9);
}

.form-btns-cont .clear-btn {
  background-color: var(--off-white);
  text-shadow: none;
  color: var(--darkest-blue);
}

.submit-btn svg {
  filter: drop-shadow(0 0 5px rgb(5, 59, 80));
}

/* Submit button (end) */

/* Confirm clear dialog (start) */
@keyframes open-modal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes open-modal-backdrop {
  from {
    background-color: transparent;
    filter: brightness(1);
  }
  to {
    background-color: rgb(5, 59, 80, 0.9);
    filter: brightness(0.5);
  }
}

.confirm-dialog {
  margin: auto;
  border: 3px solid var(--purple);
  box-shadow: 0 0 10px 1px var(--light-blue);
  border-radius: 10px;
  overflow: hidden;
  padding: calc(var(--padding) * 0.5);
  animation: open-modal 0.3s ease-in-out;
  background-color: var(--lightest-green);
}

.confirm-dialog::backdrop {
  animation: open-modal-backdrop 0.3s ease-in-out;
  background-color: rgb(5, 59, 80, 0.9);
  filter: brightness(0.5);
}

.dialog-cont {
  border: 1px solid var(--purple);
  padding: var(--padding);
  border-radius: 10px;
}

.dialog-cont p {
  font-size: 1.3rem;
  text-align: center;
  max-width: 500px;
  margin-bottom: var(--margin);
}

.dialog-cont .choice-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--margin) * 2);
  margin-top: calc(var(--margin) * 2);
}

.choice-btns button {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: var(--header-font);
  padding: calc(var(--padding) * 0.5);
  width: 80px;
  min-width: max-content;
  border-radius: 10px;
  border: 3px solid var(--darkest-blue);
  box-shadow: 0 5px 5px 1px rgba(5, 59, 80, 0.3);
  color: var(--off-white);
  text-shadow: 0 0 5px var(--darkest-blue);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.choice-btns button.yes-btn {
  background-color: #2EB872;
}

.choice-btns button.no-btn {
  background-color: #D65F5F;
}

.choice-btns button svg {
  filter: drop-shadow(0 0 5px var(--darkest-blue))
}

.choice-btns button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}


/* Confirm clear dialog (end) */

/* Form styling (end) */


/* Template Styling (start) */
.template-viewer {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  justify-items: center;
  padding: calc(var(--padding) * 0.5);
  background-color: var(--off-white);
}

.cv-cont {
  margin: calc(var(--margin) * 0.5);
  overflow: auto;
  width: 100%;
  position: relative;
}

.cv-template {
  width: max-content;
  border: 1px solid black;
  height: max-content;
  margin: auto;
  display: grid;
  grid-template-columns: var(--template-col-1) var(--template-col-2);
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "intro intro"
    "column-1 column-2";
  
  transform-origin: var(--margin) top;
  transition: transform 0.1s ease-in-out;

  box-shadow: 0 0 5px 2px rgba(5, 59, 80, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.cv-template p {
  font-size: 0.8rem;
}

p.sec-header {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: var(--header-font);
  margin: 4px;
}

.intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: var(--template-col-1) 1fr;
}

.column-1 {
  grid-area: column-1;
  background-color: var(--template-blue);
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content) 1fr;
 
}

.column-1 > div {
  width: 100%;
  /* padding: calc(var(--padding) * 0.5); */
  padding: calc(var(--padding) * 0.5) 0 calc(var(--padding) * 0.5) var(--padding);
}

.column-1 p {
  color: var(--off-white);
}

.column-2 {
  grid-area: column-2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  background-color: white;
}

.picture-sec {
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--template-blue);
}

.picture-blank {
  width: 150px !important;
  height: 150px !important;
  border: 1px solid black;
  border-radius: 50%;
  background-color: gray;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gray;
  object-fit: cover;
  object-position: center;
}

.picture-blank path {
  fill: white !important;
}

.header-sec {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  background-color: white;
  gap: 8px;
}

p.template-name {
  font-size: 2rem;
  font-family: var(--header-font);
  font-weight: bold;
}

p.template-designation {
  font-size: 1.3rem;
  font-family: var(--header-font);
  font-weight: bold;
}

.template-info-cont {
  border-top: 1px solid var(--off-white);
  padding: var(--padding) 4px;
  margin-bottom: var(--margin);
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  align-items: start;
  justify-content: center;
}

/* Contact template (start) */
.template-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
}

p.template-contact-type {
  font-size: 1rem;
  font-weight: bold;
}
/* Contact template (end) */

/* Expertise template (start) */
.expertise-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  width: 100%;
}

.expertise-header p {
  font-size: 1.1rem;
  font-family: var(--header-font);
}

.skill-name {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.expertise-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.rating-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: max-content;
}

.rating {
  border: 1px solid var(--template-gray);
  border-radius: 3px;
  width: 15px;
  height: 15px;
}

.rating.rated {
  background-color: var(--light-blue);
}

.rating.unrated {
  background-color: white;
}

/* Expertise template (end) */

/* Experience template (start) */

.experience-sec {
  padding: calc(var(--padding) * 0.5) var(--padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

.experience-sec .template-info-cont {
  border-top: 2px solid var(--template-blue);
  justify-content: start;
  margin-bottom: 0;
  gap: 0;
}

.template-experience-info {
  padding: 0 var(--padding);
  padding-bottom: calc(var(--margin) * 2);
  width: 100%;
  border-left: 2px solid var(--template-blue);
  position: relative;
}

.template-experience-info:last-of-type {
  padding-bottom: 0;
}

.exp-bullet {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-8px);
  background-color: white;
}

  
.exp-start-end {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.exp-start-end p {
  font-size: 0.9rem;
}

.template-experience-info .exp-company {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  margin: 8px 0;
}

.template-experience-info .exp-position {
  font-size: 1rem;
  font-weight: bold;
  margin: 8px 0;
}

/* Experience template (end) */

/* Reference template (start) */
.references-sec {
  padding: var(--padding);
}

.references-info.template-info-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid var(--template-blue);
  margin-bottom: 0;
}

.references-info div {
  padding: calc(var(--padding) * 0.5);
}

.reference-name {
  font-weight: bold;
  margin-bottom: calc(var(--padding) * 0.3);
}

.reference-company {
  margin-bottom: calc(var(--padding) * 0.8);
}

.reference-phone {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px;
}

.reference-phone .phone-label {
  font-weight: bold;
}

/* Reference template (start) */

/* Template Styling (end) */

/* pseudo footer (start) */
.footer-cont {
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 8px;
  justify-content: end;
  justify-self: end;
  flex-wrap: wrap;
}

.footer-cont p {
  font-size: 0.8rem;
  text-align: end;
  font-family: var(--header-font);
  color: var(--template-brown);
}

a.github-link {
  display: flex;
  gap: 4px;
  font-size: 0.8rem;
  text-decoration: none;
  align-items: center;
  color: var(--template-brown);
}

a.github-link:visited {
  color: var(--template-brown);
}

a.github-link:hover {
  color: var(--light-blue);
}

a.github-link svg {
  width: 1rem;
}

a.github-link span {
  font-family: var(--header-font);
}

/* footer (end) */
