@media print {

  @page {
    size: A4 !important;
    margin: 0.25in !important;
  }

  div#root.print > * {
    display: none !important;
  }

  div#root.print .main-content {
    display: grid !important;
    grid-template-columns: 1fr !important;
    padding: 0 !important;
  }

  div#root.print .main-content .info-form {
    display: none !important;
  }

  div#root.print .print-btn {
    display: none !important;
  }

  div#root.print .footer-cont {
    display: none !important;
  }

  div#root.print .template-viewer {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    background-color: white !important;
    justify-items: center !important;

    width: 100%;
    padding: 0 !important;
  }

  div#root.print .cv-cont {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    justify-self: center !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;

    display: flex !important;
    justify-content: center !important;
  }

  div#root.print .cv-template {
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important; 
    transform-origin: unset !important;

    grid-template-columns: 3in 1fr !important;
  }

  div#root.print .intro {
    grid-template-columns: 3in 1fr !important;
  }
}


