.menu-btn {
  justify-self: end;
  align-self: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid var(--lighter-blue);
  background-color: var(--dark-blue);
  box-shadow: 0 3px 3px 1px rgba(5, 59, 80, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.menu-btn.nav-opener {
  display: none;
}

.menu-btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.menu-btn:active {
  transform: scale(0.9);
}

.menu-btn svg path {
  fill: var(--off-white) !important;
}

.main-content {
  transition: 300ms;
}

.main-content.cv-view {
  grid-template-columns: 0px 1fr;
}

.main-content.cv-view form.info-form {
  padding-left: 0;
  padding-right: 0;
}


@media only screen and (max-width: 769px) {
  
  .main-content.form-view {
    grid-template-columns: 1fr 0fr;
  }

  .main-content.cv-view {
    grid-template-columns: 0fr 1fr;
  }

  .main-content.cv-view .template-viewer {
    width: 100%;
    overflow-x: hidden;
  }

  .main-content.form-view .template-viewer {
    padding-left: 0;
    padding-right: 0; 
  }

  .main-content .info-form {
    overflow-x: hidden;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
    'form'
    'btns';

  }

  .menu-btns {
    margin: 0;
  }

  .info-form {
    padding: calc(var(--padding) * 0.5);
  }

  .info-grp {
    padding: calc(var(--padding) * 0.5);
    gap: calc(var(--margin)* 0.5);
  }

  .info-grp h3 {
    font-size: 1.3rem;
  }

  .info-grp label {
    font-size: 0.8rem;
  }

  .info-grp input, .info-grp textarea {
    font-size: 0.9rem;
  }

  .input-field {
    gap: calc(var(--margin)* 0.3);
    margin-bottom: calc(var(--margin) * 0.5);
  }

  .remove-btn {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }

  .skill-header p {
    font-size: 1rem;
  }

  .rate-btn {
    width: 20px;
    height: 20px;
    padding: 3px;
    font-size: 0.8rem;
  }

  .add-info-btn {
    font-size: 0.9rem;
  }

  .reference-info h4 {
    font-size: 1rem;
    margin-bottom: calc(var(--margin) * 0.5);
  }

  .form-btns-cont {
    margin: calc(var(--margin) * 0.5);
  }

  .form-btns-cont button {
    width: 100px;
    font-size: 1rem;
  }

  .cv-cont {
    margin: calc(var(--margin) * 0.5);
  }

  .footer-cont p, a.github-link {
    font-size: 0.7rem;
  }

  /* profile picture input type=file (start) */
  .mod-label {
    font-size: 0.8rem;
  }

  .info-grp label.profile-label {
    font-size: 0.9rem;
  }

  .input-field.profile-field .file-name {
    font-size: 0.9rem;
  }

  /* profile picture input type=file (start) */

  /* form nav (start) */
  .form-nav {
    position: fixed;
    right: var(--padding);

    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s ease-in-out;
    transform: translateX(100vw);
  }

  .form-nav.shown {
    transform: translateX(0);
  }
  
  .form-nav ul {
    padding: var(--padding);
    background-color: rgba(5, 59, 80, 0.5);
    border-radius: 10px;
    position: unset;
  }

  .form-nav li:hover {
    transform: translateX(-5px);
    box-shadow: 5px 3px 3px 1px rgba(5, 59, 80, 0.5);
  }

  .menu-btn.nav-opener {
    display: unset;
    border-radius: 5px;
  }

  /* Hides the nav opener when in CV view */
  .menu-btn.nav-opener:has(~.slide-btn[value='false']) {
    display: none;
  }

  /* form nav (end) */

  .print-btn {
    font-size: 0.8rem;
    padding: calc(var(--padding)* 0.3) calc(var(--padding) * 0.5);
  }
}
